<div class="post-card">
  <div class="post-card-header">
    <div class="post-card-main">
      <img
        class="post-card-user-pic"
        src="https://pictures.abebooks.com/isbn/9780745647791-us.jpg"
      />
      <div class="post-card-titling">
        <a
          class="post-card-user-name"
          [routerLink]="['/', 'books', 'inventories', _post.userId]"
        >
          {{ _post.user.firstName }} {{ _post.user.lastName }}
        </a>
        <span class="post-card-date-time">
          {{ _post.postedOn | date: 'MMM d, Y HH:mm' }}
        </span>
      </div>

      <div class="relative" *ngIf="editPostEnabled || deletePostEnabled">
        <button
          type="button"
          class="w-10 h-10 p-1 text-center rounded-full hover:bg-gray-100"
          [tcnDropdown]="menuDropdownContent"
        >
          <svg
            class="size-6 mx-auto"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12Z"
              fill="#1C274C"
            />
            <path
              d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z"
              fill="#1C274C"
            />
            <path
              d="M21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12Z"
              fill="#1C274C"
            />
          </svg>
        </button>

        <ul
          #menuDropdownContent
          role="menu"
          class="absolute z-10 min-w-[180px] overflow-auto rounded-lg border border-slate-200 bg-white p-1.5 shadow-lg shadow-sm focus:outline-none"
        >
          <!-- <hr class="my-2 border-slate-200" role="menuitem" /> -->
          <li
            role="menuitem"
            class="cursor-pointer text-slate-800 rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
            *ngIf="editPostEnabled"
          >
            <button
              type="button"
              class="flex w-full items-center space-x-1 text-sm"
              [disabled]="
                isProcessingDelete || isProcessingEdit || !isSelfOwned
              "
              (click)="onEditBookPost($event)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5 text-slate-400"
              >
                <path
                  d="M15.232 3.232a3 3 0 0 1 4.24 4.24l-1.792 1.792-4.24-4.24 1.792-1.792Zm-2.414 2.414L5.5 13.964V16.5h2.536l7.318-7.318-2.536-2.536Z"
                />
              </svg>

              <span>Edit</span>
            </button>
          </li>

          <li
            role="menuitem"
            class="cursor-pointer text-slate-800 rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
            *ngIf="deletePostEnabled"
          >
            <button
              type="button"
              class="flex w-full items-center space-x-1 text-sm"
              [disabled]="
                isProcessingDelete || isProcessingEdit || !isSelfOwned
              "
              (click)="onDeleteBookPost($event)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-5 h-5 text-slate-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h4a1 1 0 0 1 0 2h-1.317l-1.45 13.978A2 2 0 0 1 17.333 24H6.667a2 2 0 0 1-1.999-1.878L3.217 8H2a1 1 0 0 1 0-2h4V4zm2 0v2h8V4H8zm-1 6a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1h8a1 1 0 1 1 0 2h-8a1 1 0 0 1-1-1z"
                  clip-rule="evenodd"
                />
              </svg>

              <span>Delete</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="post-card-body">
    <div class="post-card-book">
      <a
        class="post-card-book-cover-box"
        [queryParams]="{ isbn13: _post.book.isbn13 }"
        [routerLink]="['/', 'books', 'markets']"
      >
        <img class="post-card-book-cover" [src]="_post.book.thumbnail" />
      </a>
      <a
        class="post-card-book-title"
        [queryParams]="{ isbn13: _post.book.isbn13 }"
        [routerLink]="['/', 'books', 'markets']"
      >
        {{ _post.book.title }} {{ _post.book.subtitle }}
      </a>
      <div class="post-card-book-isbns">
        <span class="post-card-book-isbn">
          {{ _post.book.isbn13 | isbn13 }}
        </span>
        <span class="post-card-book-isbn" *ngIf="_post.book.isbn10">
          {{ _post.book.isbn10 }}
        </span>
      </div>
      <div class="flex flex-row justify-center space-x-1">
        <span
          class="post-card-price"
          [ngClass]="{
            'post-card-tradeable': _post.tradeable,
            'post-card-nontradeable': !_post.tradeable
          }"
        >
          {{ _post.price | currency: 'USD' }}
        </span>
        <span class="post-card-type">{{ _post.state }}</span>
      </div>
    </div>
  </div>

  <div class="post-card-info">
    <div class="post-card-info-left">
      <button
        type="button"
        class="post-card-save"
        [disabled]="
          !likePostEnabled ||
          isProcessingLike ||
          isProcessingDelete ||
          isSelfOwned
        "
        (click)="onToggleLikeBookPost($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5"
          [ngClass]="{
            'text-slate-400': !_post.savedBookOfferId,
            'text-red-600': isProcessingLike || !!_post.savedBookOfferId,
            'animate-pulse': isProcessingLike
          }"
        >
          <path
            fill-rule="evenodd"
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="post-card-info-middle">
      <button
        type="button"
        class="post-card-share"
        (click)="onSharePost($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6 text-slate-400"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.803 5.33333C13.803 3.49238 15.3022 2 17.1515 2C19.0008 2 20.5 3.49238 20.5 5.33333C20.5 7.17428 19.0008 8.66667 17.1515 8.66667C16.2177 8.66667 15.3738 8.28596 14.7671 7.67347L10.1317 10.8295C10.1745 11.0425 10.197 11.2625 10.197 11.4872C10.197 11.9322 10.109 12.3576 9.94959 12.7464L15.0323 16.0858C15.6092 15.6161 16.3473 15.3333 17.1515 15.3333C19.0008 15.3333 20.5 16.8257 20.5 18.6667C20.5 20.5076 19.0008 22 17.1515 22C15.3022 22 13.803 20.5076 13.803 18.6667C13.803 18.1845 13.9062 17.7255 14.0917 17.3111L9.05007 13.9987C8.46196 14.5098 7.6916 14.8205 6.84848 14.8205C4.99917 14.8205 3.5 13.3281 3.5 11.4872C3.5 9.64623 4.99917 8.15385 6.84848 8.15385C7.9119 8.15385 8.85853 8.64725 9.47145 9.41518L13.9639 6.35642C13.8594 6.03359 13.803 5.6896 13.803 5.33333Z"
          />
        </svg>
      </button>
    </div>
    <div class="post-card-info-right">
      <button
        type="button"
        class="post-card-chat"
        [disabled]="!userChatEnabled"
        (click)="onMessageSeller($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-slate-400"
        >
          <path
            fill-rule="evenodd"
            d="M12 2C6.477 2 2 5.943 2 10.5c0 1.962.805 3.8 2.21 5.26a11.673 11.673 0 0 1-1.626 2.775c-.325.434-.523.835-.573 1.192-.06.437.267.825.738.825.635 0 1.597-.27 2.793-.85C8.098 20.836 9.988 21.5 12 21.5c5.523 0 10-3.943 10-9S17.523 2 12 2ZM8 9.75A.75.75 0 0 1 8.75 9h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 8 9.75Zm0 3a.75.75 0 0 1 .75-.75h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 8 12.75Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="post-card-footer" *ngIf="!!_post.notes">
    <div *ngIf="_post.notes">
      <div class="flex justify-between">
        <p class="animation" [ngClass]="{ hidden: !_post.isNotesOpen }">
          {{ _post.notes }}
        </p>

        <p
          class="animation overflow-hidden whitespace-nowrap text-ellipsis"
          [ngClass]="{ hidden: _post.isNotesOpen }"
        >
          {{ _post.notes }}
        </p>
        <span
          *ngIf="!_post.isNotesOpen"
          class="whitespace-nowrap text-blue-600 cursor-pointer hover:underline"
          (click)="_post.isNotesOpen = !_post.isNotesOpen"
        >
          See more
        </span>
      </div>
    </div>
  </div>
</div>
