<div class="post-card">
  <div class="post-card-header">
    <div class="post-card-main">
      <a
        class="rounded-full"
        [routerLink]="userRouterLink"
        [queryParams]="userQueryParams"
      >
        <img class="post-card-user-pic" [src]="_post.user.profilePictureUrl" />
      </a>
      <div class="post-card-titling">
        <a
          class="post-card-user-name"
          [routerLink]="userRouterLink"
          [queryParams]="userQueryParams"
        >
          {{ _post.user.firstName }} {{ _post.user.lastName }}
        </a>
        <span class="post-card-date-time">
          {{ _post.postedOn | date: 'MMM d, Y HH:mm' }}
        </span>
      </div>
    </div>
  </div>

  <div class="post-card-body">
    <div class="post-card-book">
      <a
        class="post-card-book-cover-box"
        [routerLink]="link"
        [queryParams]="query"
        [ngClass]="{ 'cursor-default': !link, 'hover:opacity-75': !!link }"
      >
        <img class="post-card-book-cover" [src]="_post.book.thumbnail" />
      </a>
      <a
        class="post-card-book-title"
        [routerLink]="link"
        [queryParams]="query"
        [ngClass]="{
          'cursor-default': !link,
          'hover:no-underline': !link
        }"
      >
        {{ _post.book.title }} {{ _post.book.subtitle }}
      </a>

      <div class="post-card-book-isbns">
        <span class="post-card-book-isbn">
          {{ _post.book.isbn13 | isbn13 }}
        </span>
        <span class="post-card-book-isbn" *ngIf="_post.book.isbn10">
          {{ _post.book.isbn10 }}
        </span>
      </div>

      <div class="flex flex-row items-center justify-center space-x-1">
        <svg
          *ngIf="_post.tradeable"
          class="w-4 h-4"
          viewBox="0 0 64 64"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <path
              fill="#80D25B"
              d="M42.1561026,48.217237 C50.904695,48.217237 59.3530187,39.6818331 59.3530187,30.9332407 C59.3530187,22.1846483 45.1894084,-1.74228695 45.1894084,-1.74228695 C45.1894084,-1.74228695 28.1191741,20.3680678 27.0857195,29.7665352 C26.0522649,39.1650025 33.4075102,48.217237 42.1561026,48.217237 Z"
              transform="rotate(36 43.17 23.237)"
            />
            <path
              stroke="#22BA8E"
              stroke-linecap="round"
              stroke-width="3"
              d="M49.7607359,15.8672252 C49.7607359,15.8672252 35.1835686,24.8145106 29.8825517,41.2933444 C24.5815349,57.7721783 8.88191352,55.9007026 8.88191352,55.9007026"
            />
            <polyline
              stroke="#22BA8E"
              stroke-linecap="round"
              stroke-width="2"
              points="41.946 36.659 32.202 36.245 27.486 27.936"
            />
            <polyline
              stroke="#22BA8E"
              stroke-linecap="round"
              stroke-width="2"
              points="44.938 27.965 38.294 26.606 36.16 21.188"
            />
          </g>
        </svg>
        <span
          class="post-card-price"
          [ngClass]="{
            'post-card-tradeable': _post.tradeable,
            'post-card-nontradeable': !_post.tradeable
          }"
        >
          {{ _post.price | currency: 'USD' }}
        </span>
        <span class="post-card-type">{{ _post.state }}</span>
      </div>
    </div>
  </div>

  <div class="post-card-info">
    <div class="post-card-info-left">
      <button
        type="button"
        class="post-card-save"
        [disabled]="
          !likePostEnabled ||
          isProcessingLike ||
          isProcessingDelete ||
          isSelfOwned
        "
        (click)="onToggleLikeBookPost($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
          [ngClass]="{
            'text-red-600': isProcessingLike || !!_post.userRefSavedBookOfferId,
            'text-slate-400': !_post.userRefSavedBookOfferId
          }"
        >
          <path
            fill-rule="evenodd"
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
            clip-rule="evenodd"
          />
        </svg>

        <div
          *ngIf="isProcessingLike"
          class="absolute w-full h-full top-0 left-0 bg-white rounded-full flex items-center justify-center"
          role="status"
        >
          <div class="inline-flex items-center gap-px animate-pulse">
            <div class="mx-px h-1.5 w-1.5 rounded-full bg-indigo-700"></div>
            <div class="mx-px h-1.5 w-1.5 rounded-full bg-indigo-700"></div>
            <div class="mx-px h-1.5 w-1.5 rounded-full bg-indigo-700"></div>
          </div>

          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </div>
    <div class="post-card-info-middle">
      <button
        type="button"
        class="post-card-chat"
        [disabled]="!userChatEnabled"
        (click)="onMessageSeller($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-slate-400"
        >
          <path
            fill-rule="evenodd"
            d="M12 2C6.477 2 2 5.943 2 10.5c0 1.962.805 3.8 2.21 5.26a11.673 11.673 0 0 1-1.626 2.775c-.325.434-.523.835-.573 1.192-.06.437.267.825.738.825.635 0 1.597-.27 2.793-.85C8.098 20.836 9.988 21.5 12 21.5c5.523 0 10-3.943 10-9S17.523 2 12 2ZM8 9.75A.75.75 0 0 1 8.75 9h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 8 9.75Zm0 3a.75.75 0 0 1 .75-.75h6.5a.75.75 0 0 1 0 1.5h-6.5A.75.75 0 0 1 8 12.75Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
    <div class="post-card-info-right">
      <button
        type="button"
        class="post-card-share"
        (click)="onSharePost($event)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-slate-400"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13.803 5.33333C13.803 3.49238 15.3022 2 17.1515 2C19.0008 2 20.5 3.49238 20.5 5.33333C20.5 7.17428 19.0008 8.66667 17.1515 8.66667C16.2177 8.66667 15.3738 8.28596 14.7671 7.67347L10.1317 10.8295C10.1745 11.0425 10.197 11.2625 10.197 11.4872C10.197 11.9322 10.109 12.3576 9.94959 12.7464L15.0323 16.0858C15.6092 15.6161 16.3473 15.3333 17.1515 15.3333C19.0008 15.3333 20.5 16.8257 20.5 18.6667C20.5 20.5076 19.0008 22 17.1515 22C15.3022 22 13.803 20.5076 13.803 18.6667C13.803 18.1845 13.9062 17.7255 14.0917 17.3111L9.05007 13.9987C8.46196 14.5098 7.6916 14.8205 6.84848 14.8205C4.99917 14.8205 3.5 13.3281 3.5 11.4872C3.5 9.64623 4.99917 8.15385 6.84848 8.15385C7.9119 8.15385 8.85853 8.64725 9.47145 9.41518L13.9639 6.35642C13.8594 6.03359 13.803 5.6896 13.803 5.33333Z"
          />
        </svg>
      </button>
    </div>
  </div>

  <div class="post-card-footer" *ngIf="!!_post.notes">
    <div *ngIf="_post.notes">
      <div class="flex justify-between">
        <p class="animation" [ngClass]="{ hidden: !_post.isNotesOpen }">
          {{ _post.notes }}
        </p>

        <p
          class="text-sm animation overflow-hidden whitespace-nowrap text-ellipsis"
          [ngClass]="{ hidden: _post.isNotesOpen }"
        >
          {{ _post.notes }}
        </p>
        <span
          *ngIf="!_post.isNotesOpen"
          class="text-sm whitespace-nowrap text-blue-600 cursor-pointer hover:underline"
          (click)="_post.isNotesOpen = !_post.isNotesOpen"
        >
          See more
        </span>
      </div>
    </div>
  </div>
</div>
