<!-- src/app/sign-in/sign-in.component.html -->
<div
  class="relative inline-flex flex-col text-gray-700 bg-transparent shadow-lg p-14 rounded-xl bg-clip-border"
>
  <h4 class="h4 text-center">Sign In</h4>
  <p class="text-gray-500 text-sm text-center">Welcome back! Enter your details to sign in.</p>
  <form
    class="max-w-screen-lg mt-8 mb-2 w-80 sm:w-96"
    [formGroup]="signInGroup"
    (ngSubmit)="handleSignIn()"
  >

    <div class="relative mt-4">
      <h6 class="h6">Email</h6>
      <input
        class="w-full"
        type="text"
        placeholder="jonh.smith@cougars.csusm.edu"
        formControlName="email"
      />
    </div>

    
    <div class="relative mt-4">
      <h6 class="h6">Password</h6>
      <input class="w-full" type="password" placeholder="********" formControlName="password" />
    </div>


    <div class="inline-flex items-center">
      <label class="checkbox relative -ml-2.5 flex cursor-pointer items-center rounded-full p-3">
        <input type="checkbox" class="input" formControlName="remember" />
      </label>

      <label class="mt-px font-light text-gray-700 cursor-pointer select-none" htmlFor="remember">
        <p class="flex items-center font-sans antialiased font-normal leading-normal text-sm text-gray-700">
          Remember me
        </p>
      </label>
    </div>

    <button
      class="w-full btn-blue-600 my-4"
      type="submit"
      [disabled]="signInGroup.invalid"
    >
      Sign in

      <status-spinner *ngIf="request.sent && !request.done"></status-spinner>
    </button>

    <div class="text-center mt-6">
      <span class="text-sm text-gray-500">Don't have an account?</span>
      <a class="a text-sm" [routerLink]="['/sign-up']"> Sign up </a>
    </div>   
  </form>
</div>
