<swiper-container #swiper class="w-120 relative inline-flex flex-col text-gray-700 bg-transparent shadow-lg rounded-xl bg-clip-border"
    [config]="config" effect="fade" no-swiping="true" a11y="false">
    <swiper-slide class="bg-white swiper-no-swiping">
        <div class="w-120 p-16">
            <h4 class="h4">Password Recovery</h4>
            <p class="text">Enter your email address to recover your password</p>
            <form class="mt-8 mb-2" [formGroup]="startPasswordRecovery" (ngSubmit)="onSubmitStartRecovery()">
                <div class="flex flex-col gap-4 mb-1">
                    <h6 class="h6 -mb-4">Email</h6>
                    <div class="relative">
                        <input class="w-full" type="text" placeholder="name@mail.com" name="email" required />
                    </div>
                </div>
                <button
                    class="mt-6 w-full select-none bg-pink-500 font-bold text-white"
                    type="submit">
                Recover Password
                </button>
            </form>
        </div>
    </swiper-slide>
    <swiper-slide class="bg-white swiper-no-swiping">
        <div class="w-120 p-16">
            <h4 class="h4">Get Your Code</h4>
            <p class="text">
                Please enter the 6 digit code that send to your email. 
                Code will expore in <strong>{{ expiresInSeconds }}s</strong>
            </p>
        
            <form class="mt-8 mb-2">
                <div class="flex flex-col gap-4 mb-1">
                    <!-- <h6 class="h6 -mb-4">Email</h6> -->
                    <div class="relative">
                        <input class="w-full text-lg tracking-widest-5xl !font-bold" type="text"/>
                    </div>
                </div>
        
                <p class="block mt-4 font-sans text-base antialiased font-normal leading-relaxed text-center text-gray-700">
                    Didn't receieve a code?
                    <a class="a font-medium" (click)="runExpiresInCountdown()">
                        Resend
                    </a>
                </p>
        
                <button class="mt-6 w-full select-none bg-pink-500 font-bold text-white" type="button" [disabled]="!expiresInSeconds">
                    Verify & Continue
                </button>
            </form>
        </div>
    </swiper-slide>
    <swiper-slide class="bg-white swiper-no-swiping">
        <div class="w-120 p-16">
            <h4 class="h4">Reset Password</h4>
            <p class="text">Choose a new password</p>
            <form class="mt-8 mb-2">
                <div class="flex flex-col gap-4 mb-1">
                <h6 class="h6 -mb-4">Choose Password</h6>
                <div class="relative">
                    <input class="w-full" type="password" placeholder="********" />
                </div>
            
                <h6 class="h6 -mb-4">Confirm Password</h6>
                <div class="relative">
                    <input class="w-full" type="password" placeholder="********" />
                </div>
                </div>
            
                <button
                    class="mt-6 w-full select-none bg-pink-500 font-bold text-white"
                    type="button">
                Change Password
                </button>
            </form>
        </div>
    </swiper-slide>
</swiper-container>