<div
  class="feed"
  infiniteScroll
  [infiniteScrollUpDistance]="1"
  [infiniteScrollDistance]="0.5"
  [infiniteScrollThrottle]="500"
  [immediateCheck]="hasNextPage"
  [infiniteScrollDisabled]="isLoadingNext"
  [scrollWindow]="true"
  (scrolled)="onScrollDown()"
  (scrolledUp)="onScrollUp()"
>
  <confirm-dialog
    *ngIf="!isLoadingNext"
    [title]="survey.title"
    [contentType]="survey.contentType"
    [content]="survey.question"
    [value]="survey.value"
    (selection)="onSurveySelection($event)"
  ></confirm-dialog>

  <book-post-card
    *ngFor="let post of data"
    [post]="post"
    [userRouterLink]="['/', 'books', 'inventories', post.userId]"
    [userQueryParams]="{}"
    [routerLink]="['/', 'books', 'markets']"
    [queryParams]="{ scope: params.scope, isbn13: post.book.isbn13 }"
  ></book-post-card>
</div>
