<!-- <div class="m-8">
  <input class="text" type="text" placeholder="Email">
</div>

<div class="m-8">
  <input class="text" type="text" placeholder="Password">
</div>

<div class="m-8" >
  <button class="flat" tabindex="0">Login</button>
</div>



<div class="m-8">
  <label class="checkbox">
    <input type="checkbox" tabindex="0" >
    <span class="ripple"></span>
    <span>Remember me</span>
  </label>
</div>


<div class="m-8">
  <label class="radio">
    <input type="radio" name="test" tabindex="0" value="a">
    <span class="ripple"></span>
    <span>Remember me</span>
  </label>
</div>
<div class="m-8">
  <label class="radio">
    <input type="radio" name="test" tabindex="0" value="b">
    <span class="ripple"></span>
    <span>Remember me</span>
  </label>
</div>


<div class="m-8">
  <select class="select">
    <option value="brazil">Brazil</option>
    <option value="bucharest">Bucharest</option>
    <option value="london">London</option>
    <option value="washington">Washington</option>
  </select>
</div> -->

<router-outlet />
