<!-- <div class="m-8">
  <input class="text" type="text" placeholder="Email">
</div>

<div class="m-8">
  <input class="text" type="text" placeholder="Password">
</div>

<div class="m-8" >
  <button class="flat" tabindex="0">Login</button>
</div>



<div class="m-8">
  <label class="checkbox">
    <input type="checkbox" tabindex="0" >
    <span class="ripple"></span>
    <span>Remember me</span>
  </label>
</div>


<div class="m-8">
  <label class="radio">
    <input type="radio" name="test" tabindex="0" value="a">
    <span class="ripple"></span>
    <span>Remember me</span>
  </label>
</div>
<div class="m-8">
  <label class="radio">
    <input type="radio" name="test" tabindex="0" value="b">
    <span class="ripple"></span>
    <span>Remember me</span>
  </label>
</div>


<div class="m-8">
  <select class="select">
    <option value="brazil">Brazil</option>
    <option value="bucharest">Bucharest</option>
    <option value="london">London</option>
    <option value="washington">Washington</option>
  </select>
</div> -->

<!-- <marketing-block>
  <h3 titling class="text-3xl font-semibold">A growing company</h3>
  <p description class="mt-4 text-lg leading-relaxed text-gray-500">
    The extension comes with three pre-built pages to help you get
    started faster. You can change the text and images and you're
    good to go.
  </p>
</marketing-block> -->


<div class="post-card">
  <div class="post-card-header">
    <div class="post-card-main">
      <img class="post-card-user-pic" src="https://pictures.abebooks.com/isbn/9780745647791-us.jpg">
      <div class="post-card-titling">
        <span class="post-card-user-name">justo.jonathan&#64;gmail.com</span>
        <span>Sep 24, 2024</span>
      </div>
      <div class="post-card-info">
        <span class="post-card-price">$94.99</span>
        <span class="post-card-type">Like New</span>
      </div>
    </div>
  </div>
  <div class="post-card-body">
    <img class="post-card-cover" src="https://pictures.abebooks.com/isbn/9781285774770-us.jpg">
  </div>
  <div class="post-card-footer">
    <div class="post-card-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>


<div class="post-card">
  <div class="post-card-header">
    <div class="post-card-main">
      <img class="post-card-user-pic" src="https://pictures.abebooks.com/isbn/9780745647791-us.jpg">
      <div class="post-card-titling">
        <span class="post-card-user-name">justo.jonathan&#64;gmail.com</span>
        <span>Sep 24, 2024</span>
      </div>
      <div class="post-card-info">
        <span class="post-card-price">$94.99</span>
        <span class="post-card-type">Like New</span>
      </div>
    </div>
  </div>
  <div class="post-card-body">
    <img class="post-card-cover" src="https://pictures.abebooks.com/isbn/9780134813813-us.jpg">
  </div>
  <div class="post-card-footer">
    <div class="post-card-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>

<router-outlet />
