<div
  class="collection"
  infiniteScroll
  [infiniteScrollUpDistance]="1"
  [infiniteScrollDistance]="1.0"
  [infiniteScrollThrottle]="500"
  [immediateCheck]="true"
  [infiniteScrollDisabled]="isLoadingNext"
  [scrollWindow]="true"
  (scrolled)="onScrollDown()"
  (scrolledUp)="onScrollUp()"
  *ngIf="!!data?.length"
>
  <div
    class="bg-white mx-auto max-w-2xl px-4 py-16 sm:w-auto sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8"
  >
    <form
      class="flex flex-row justify-between p-2 my-2 rounded-md bg-gray-50"
      [formGroup]="filters"
      (ngSubmit)="onSubmit($event)"
    >
      <div class="flex flex-row items-center space-x-2">
        <h3 class="text-sm font-semibold text-gray-900">Search in</h3>
        <institutions-dropdown
          class="max-w-72"
          formControlName="scope"
        ></institutions-dropdown>
      </div>
      <div class="flex flex-row items-center space-x-2">
        <h3 class="text-sm font-semibold text-gray-900">Sort by</h3>
        <select class="select bg-white" formControlName="sorting">
          <option value="price:asc">Price: Lowest to Highest</option>
          <option value="price:desc">Price: Highest to Lowest</option>
          <option value="posted-on">Most Recently Listed</option>
          <option value="authors-asc">Authors: A - Z</option>
          <option value="authors:desc">Authors: Z - A</option>
          <option value="review">Avg. Seller Review</option>
        </select>
        <input type="hidden" formControlName="keyword" />
        <button type="submit" class="btn btn-sm bg-blue-600 text-white">
          Apply
        </button>
      </div>
    </form>

    <div
      class="flex flex-wrap justfy-start"
      *ngIf="filters.controls.scope.value"
    >
      <book-tile-card
        class="group text-center w-full p-8 md:border md:-ml-[1px] md:-mt-[1px] md:w-1/2 lg:w-1/3 xl:w-1/4 md:px-4"
        *ngFor="let book of data"
        [book]="book"
        [routerLink]="['/', 'books', 'markets']"
        [queryParams]="{
          scope: filters.controls.scope.value,
          isbn13: book.isbn13
        }"
      ></book-tile-card>
    </div>
  </div>
</div>

<div
  class="bg-gray-100 flex items-center justify-center min-h-screen"
  *ngIf="!data?.length"
>
  <div class="text-center max-w-md px-4">
    <!-- Optional illustration -->
    <div class="mb-8">
      <img
        src="https://via.placeholder.com/150"
        alt="No results"
        class="mx-auto mb-4"
      />
    </div>

    <h1 class="text-2xl md:text-3xl font-bold text-gray-800 mb-2">
      No Results Found
    </h1>
    <p class="text-gray-600 mb-4">
      We couldn't find any results for your search.
    </p>

    <a
      href="/home"
      class="inline-block px-6 py-3 bg-blue-600 text-white rounded-md shadow hover:bg-blue-700 transition duration-200"
    >
      Go Back Home
    </a>
  </div>
</div>
