<div class="flex flex-row" *ngIf="!!data.length">
  <form class="w-1/6" [formGroup]="filters" (ngSubmit)="onSubmit($event)">
    <accordion>
      <accordion-view title="Search in" [isOpen]="true">
        <ul class="pl-2 pb-3">
          <li *ngFor="let institution of institutions">
            <input
              class="sr-only peer"
              type="radio"
              formControlName="scope"
              [id]="institution.institutionId"
              [value]="institution.institutionId"
            />
            <label
              class="flex items-center w-full font-light text-sm cursor-pointer p-2 my-0.5 peer-checked:bg-gray-100 peer-checked:text-blue-500"
              [for]="institution.institutionId"
            >
              {{ institution.locationName }}
            </label>
          </li>
        </ul>
      </accordion-view>

      <accordion-view title="Sort by" [isOpen]="true">
        <ul class="pl-2 pb-3 w-full">
          <li>
            <input
              class="sr-only peer"
              type="radio"
              id="price-asc"
              value="price:asc"
              formControlName="sorting"
            />

            <label
              class="flex items-center w-full font-light text-sm text-gray-700 cursor-pointer p-2 my-0.5 peer-checked:bg-gray-100 peer-checked:text-blue-500"
              for="price-asc"
            >
              Price: Lowest to Highest
            </label>
          </li>
          <li>
            <input
              class="sr-only peer"
              type="radio"
              id="price-desc"
              value="price:desc"
              formControlName="sorting"
            />
            <label
              class="flex items-center w-full font-light text-sm cursor-pointer p-2 my-0.5 peer-checked:bg-gray-100 peer-checked:text-blue-500"
              for="price-desc"
            >
              Price: Highest to Lowest
            </label>
          </li>
          <li>
            <input
              class="sr-only peer"
              type="radio"
              id="posted-on"
              value="posted-on"
              formControlName="sorting"
            />
            <label
              class="flex items-center w-full font-light text-sm cursor-pointer p-2 my-0.5 peer-checked:bg-gray-100 peer-checked:text-blue-500"
              for="posted-on"
            >
              Most Recently Listed
            </label>
          </li>
          <li>
            <input
              class="sr-only peer"
              type="radio"
              id="authors-asc"
              value="authors:asc"
              formControlName="sorting"
            />

            <label
              class="flex items-center w-full font-light text-sm cursor-pointer p-2 my-0.5 peer-checked:bg-gray-100 peer-checked:text-blue-500"
              for="authors-asc"
            >
              Authors: A - Z
            </label>
          </li>
          <li>
            <input
              class="sr-only peer"
              type="radio"
              id="authors-desc"
              value="authors:desc"
              formControlName="sorting"
            />
            <label
              class="flex items-center w-full font-light text-sm cursor-pointer p-2 my-0.5 peer-checked:bg-gray-100 peer-checked:text-blue-500"
              for="authors-desc"
            >
              Authors: Z - A
            </label>
          </li>
        </ul>
      </accordion-view>
    </accordion>

    <input type="hidden" formControlName="keyword" />
    <div class="mt-6">
      <button
        class="relative w-full btn btn-blue-600 mt-8"
        type="submit"
        [disabled]="!filtersHashChanged"
      >
        Apply Filters
      </button>
    </div>
  </form>

  <div
    class="flex-1 bg-white mx-auto max-w-2xl px-4 sm:w-auto sm:px-6 lg:max-w-7xl lg:px-8"
    infiniteScroll
    [infiniteScrollUpDistance]="1"
    [infiniteScrollDistance]="1.0"
    [infiniteScrollThrottle]="500"
    [infiniteScrollDisabled]="isLoadingNext"
    [immediateCheck]="true"
    [scrollWindow]="true"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onScrollUp()"
    *ngIf="!!data?.length"
  >
    <!-- "bg-white mx-auto max-w-2xl px-4 py-16 sm:w-auto sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8" -->

    <div
      class="flex flex-wrap justfy-start"
      *ngIf="filters.controls.scope.value"
    >
      <book-tile-card
        class="group text-center w-full p-8 md:border md:-ml-[1px] md:-mt-[1px] md:w-1/2 lg:w-1/3 xl:w-1/4 md:px-4"
        *ngFor="let book of data; trackBy: trackBy"
        [book]="book"
        [routerLink]="['/', 'books', 'markets']"
        [queryParams]="{
          scope: filters.controls.scope.value,
          isbn13: book.isbn13
        }"
      ></book-tile-card>
    </div>
  </div>
</div>

<div
  class="bg-gray-100 flex items-center justify-center min-h-screen"
  *ngIf="!data?.length"
>
  <div class="text-center max-w-md px-4">
    <!-- Optional illustration -->
    <div class="mb-8">
      <!-- <img
        src="https://via.placeholder.com/150"
        alt="No results"
        class="mx-auto mb-4"
      /> -->
    </div>

    <h1 class="text-2xl md:text-3xl font-bold text-gray-800 mb-2">
      No Results Found
    </h1>
    <p class="text-gray-600 mb-4">
      We couldn't find any results for your search.
    </p>

    <a
      href="/home"
      class="inline-block px-6 py-3 bg-blue-600 text-white rounded-md shadow hover:bg-blue-700 transition duration-200"
    >
      Go Back Home
    </a>
  </div>
</div>
