<div class="container mx-auto px-10 py-8 max-w-2xl">
  <form
    autocomplete="off"
    class="space-y-12"
    [formGroup]="information"
    (ngSubmit)="onBasicInfoSubmit()"
  >
    <!-- Profile Header -->
    <div class="flex items-center mb-6" *ngIf="!!user">
      <img
        [src]="user.profilePictureUrl"
        alt="Profile Picture"
        class="rounded-full h-24 w-24 border"
      />
      <div class="ml-6">
        <h1 class="text-2xl font-bold">
          {{ user.firstName }} {{ user.lastName }}
        </h1>
        <label for="picture">
          <input
            type="file"
            class="hidden"
            id="picture"
            #fileInput
            (change)="onInputChange($event)"
          />
          <span class="text-blue-500 text-sm cursor-pointer">
            Change Profile Picture
          </span>
        </label>
      </div>
    </div>

    <!-- Section 1: Personal Information -->
    <div>
      <h2 class="text-lg font-semibold">Personal Information</h2>
      <div class="grid grid-cols-2 gap-4" formGroupName="personal">
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            First Name
          </label>
          <input
            type="text"
            formControlName="firstName"
            class="input mt-1 w-full"
          />

          <span class="content-space text-xs text-red-500"
            [innerHTML]="
              information.controls.personal.controls.firstName.invalid &&
              information.controls.personal.controls.firstName.errors?.[
                'minLength'
              ]
                ? '* Name too short'
                : information.controls.personal.controls.firstName.invalid &&
                    information.controls.personal.controls.firstName.errors?.[
                      'pattern'
                    ]
                  ? '* Invalid characters'
                  : '&nbsp;'
            "></span>
        </div>
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Last Name
          </label>
          <input
            type="text"
            formControlName="lastName"
            class="input mt-1 w-full"
          />

          <span class="text-xs text-red-500"
            [innerHTML]="
              information.controls.personal.controls.lastName.invalid &&
              information.controls.personal.controls.lastName.errors?.[
                'minLength'
              ]
                ? '* Last name too short'
                : information.controls.personal.controls.lastName.invalid &&
                    information.controls.personal.controls.lastName.errors?.[
                      'pattern'
                    ]
                  ? '* Invalid characters'
                  : '&nbsp;'
            "></span>
        </div>
        <div class="col-span-1 w-full">
          <label class="block text-sm font-medium text-gray-700">
            Cell Phone Number
          </label>
          <input
            type="text"
            formControlName="mobile"
            class="input mt-1 w-full"
          />

          <span class="text-xs text-red-500"
            [innerHTML]="
            information.controls.personal.controls.mobile.invalid &&
            information.controls.personal.controls.mobile.errors?.['pattern']
              ? '* Please type a valid phone number'
              : '&nbsp;'"></span>
        </div>
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Alternative Email
          </label>
          <input
            type="text"
            formControlName="alternativeEmail"
            class="input mt-1 w-full"
          />

          <span class="text-xs text-red-500"
            [innerHTML]="
            information.controls.personal.controls.alternativeEmail.invalid &&
              information.controls.personal.controls.alternativeEmail.errors?.[
                'email'
              ]
                ? '* Please type a valid email'
                : '&nbsp;'"></span>
        </div>

        <div class="col-span-2">
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Gender
          </label>
          <ul class="w-full flex flex-col sm:flex-row">
            <!-- Male -->
            <li
              class="w-1/2 inline-flex items-center gap-x-2.5 py-3 px-4 text-sm font-medium bg-white border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg sm:-ms-px sm:mt-0 sm:first:rounded-se-none sm:first:rounded-es-lg sm:last:rounded-es-none sm:last:rounded-se-lg"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="male"
                    name="gender"
                    type="radio"
                    value="MALE"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="male"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Male
                </label>
              </div>
            </li>

            <!-- Female -->
            <li
              class="w-1/2 inline-flex items-center gap-x-2.5 py-3 px-4 text-sm font-medium bg-white border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg sm:-ms-px sm:mt-0 sm:first:rounded-se-none sm:first:rounded-es-lg sm:last:rounded-es-none sm:last:rounded-se-lg"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="female"
                    name="gender"
                    type="radio"
                    value="FEMALE"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="female"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Female
                </label>
              </div>
            </li>

            <!-- Other -->
            <li
              class="w-1/2 inline-flex items-center gap-x-2.5 py-3 px-4 text-sm font-medium bg-white border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg sm:-ms-px sm:mt-0 sm:first:rounded-se-none sm:first:rounded-es-lg sm:last:rounded-es-none sm:last:rounded-se-lg"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="other"
                    name="gender"
                    type="radio"
                    value="OTHER"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="other"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Other
                </label>
              </div>
            </li>

            <!-- Other -->
            <li
              class="w-1/2 inline-flex items-center gap-x-2.5 py-3 px-4 text-sm font-medium bg-white border text-gray-800 -mt-px first:rounded-t-lg first:mt-0 last:rounded-b-lg sm:-ms-px sm:mt-0 sm:first:rounded-se-none sm:first:rounded-es-lg sm:last:rounded-es-none sm:last:rounded-se-lg"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="unspecified"
                    name="gender"
                    type="radio"
                    value="UNSPECIFIED"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="unspecified"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Unspecified
                </label>
              </div>
            </li>
          </ul>

          <span class="text-xs text-red-500"
            [innerHTML]="
            information.controls.personal.controls.gender.touched &&
              information.controls.personal.controls.gender.hasError('required')
                ? '* Please make a selection'
                : '&nbsp;'"></span>
        </div>

        <!-- Section 2: Bio -->
        <!-- <div class="col-span-2">
          <div class="col-span-4">
            <label class="block text-sm font-medium text-gray-700">
              Tell us about yourself
            </label>
            <textarea
              formControlName="bio"
              rows="4"
              class="mt-1 block w-full px-3 py-2 border border-gray-200 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              placeholder="Write a short bio..."
            ></textarea>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Section 2: Password Management -->
    <div>
      <h2 class="text-lg font-semibold">Password Management</h2>
      <div class="space-y-4" formGroupName="security">
        <div class="input-box mb-4 w-full md:w-2/3">
          <label class="block text-sm font-medium text-gray-700">
            Choose Password
          </label>
          <input
            autocomplete="off"
            class="w-full"
            placeholder="********"
            formControlName="password"
            type="password"
          />
        </div>
        <div class="input-box w-full md:w-2/3">
          <label class="block text-sm font-medium text-gray-700">
            Confirm Password
          </label>
          <input
            autocomplete="off"
            class="w-full"
            placeholder="********"
            formControlName="confirmed"
            type="password"
          />

          <small class="text-xs text-red-500"
            [innerHTML]="
            information.controls.security.value.password !==
            information.controls.security.value.confirmed
              ? 'Passwords don\'t match'
              : '&nbsp;'"></small>
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <!-- [disabled]="form.invalid" -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      >
        Save Changes
      </button>
    </div>
  </form>

  <form
    class="space-y-12 my-8"
    [formGroup]="academics"
    (ngSubmit)="onAcademicInfoSubmit()"
  >
    <!-- Section 3: Education Info -->
    <div>
      <div class="my-2" *ngIf="!hasScopeSet">
        <p
          class="bg-blue-100 text-blue-600 text-sm strong px-6 py-4 rounded-md"
          *ngIf="institutions.length === 1"
        >
          Please confirm your campus
        </p>
        <p
          class="bg-yellow-100 text-yellow-600 text-sm strong px-6 py-4 rounded-md"
          *ngIf="institutions.length > 1"
        >
          We have found more than one college associated with your email. Please
          select your campus. This will determine where your textbooks will be
          published.
        </p>
      </div>

      <h2 class="text-lg font-semibold">Education Info</h2>
      <div class="grid grid-cols-2 gap-6">
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            College Campus
          </label>
          <select class="select bg-white w-full" formControlName="scope">
            <option
              *ngFor="let institution of institutions"
              [value]="institution.institutionId"
            >
              {{ institution.locationName }}
            </option>
          </select>
          <span class="text-xs text-red-500"
            [innerHTML]="
              academics.controls.scope.invalid &&
              academics.controls.scope.touched &&
              academics.controls.scope.errors?.['required']
                ? '* Select your campus'
                : '&nbsp;'"></span>
        </div>
        <div class="col-span-1">
          <label class="block text-sm font-medium text-gray-700">Major</label>
          <select class="select bg-white w-full" formControlName="major">
            <option
              *ngFor="let program of academicProgramsList"
              [disabled]="!program.academicProgramId"
              [value]="program.academicProgramId"
            >
              {{ program.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <!-- [disabled]="form.invalid" -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      >
        Save Changes
      </button>
    </div>
  </form>
</div>
