<div class="container mx-auto px-10 py-24 pb-8 max-w-xl">
  <!-- Profile Header -->
  <div class="flex items-center mb-6" *ngIf="!!user">
    <img
      [src]="user.profilePictureUrl"
      alt="Profile Picture"
      class="rounded-full h-24 w-24 border"
    />
    <div class="ml-6">
      <h1 class="text-2xl font-bold">
        {{ user.firstName }} {{ user.lastName }}
      </h1>
      <label for="picture">
        <input
          type="file"
          class="hidden"
          id="picture"
          #fileInput
          (change)="onInputChange($event)"
        />
        <span class="text-blue-500 text-sm cursor-pointer">
          Change Profile Picture
        </span>
      </label>
    </div>
  </div>

  <form
    autocomplete="off"
    class="space-y-2"
    [formGroup]="information"
    (ngSubmit)="onBasicInfoSubmit()"
  >
    <!-- Section 1: Personal Information -->
    <div>
      <h2 class="text-lg font-semibold">Personal Information</h2>
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            First Name
          </label>
          <input
            type="text"
            formControlName="firstName"
            class="input mt-1 w-full"
          />

          <span
            class="content-space text-xs text-red-500"
            [innerHTML]="
              information.controls.firstName.invalid &&
              information.controls.firstName.errors?.['minLength']
                ? '* Name too short'
                : information.controls.firstName.invalid &&
                    information.controls.firstName.errors?.['pattern']
                  ? '* Invalid characters'
                  : '&nbsp;'
            "
          ></span>
        </div>

        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Last Name
          </label>
          <input
            type="text"
            formControlName="lastName"
            class="input mt-1 w-full"
          />

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              information.controls.lastName.invalid &&
              information.controls.lastName.errors?.['minLength']
                ? '* Last name too short'
                : information.controls.lastName.invalid &&
                    information.controls.lastName.errors?.['pattern']
                  ? '* Invalid characters'
                  : '&nbsp;'
            "
          ></span>
        </div>

        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Cell Phone Number
          </label>
          <input
            type="text"
            formControlName="mobile"
            class="input mt-1 w-full"
          />

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              information.controls.mobile.invalid &&
              information.controls.mobile.errors?.['pattern']
                ? '* Please type a valid phone number'
                : '&nbsp;'
            "
          ></span>
        </div>

        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Alternative Email
          </label>
          <input
            type="text"
            formControlName="alternativeEmail"
            class="input mt-1 w-full"
          />

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              information.controls.alternativeEmail.invalid &&
              information.controls.alternativeEmail.errors?.['email']
                ? '* Please type a valid email'
                : '&nbsp;'
            "
          ></span>
        </div>

        <div class="col-span-2">
          <label class="block text-sm font-medium text-gray-700 mb-2">
            Gender
          </label>
          <ul
            class="grid grid-cols-1 sm:grid-cols-2 w-full border rounded-lg overflow-hidden"
          >
            <!-- Male -->
            <li
              class="inline-flex items-center py-3 px-4 text-sm font-medium bg-white text-gray-800 border-b sm:border-r"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="male"
                    name="gender"
                    type="radio"
                    value="MALE"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="male"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Male
                </label>
              </div>
            </li>

            <!-- Female -->
            <li
              class="inline-flex items-center py-3 px-4 text-sm font-medium bg-white text-gray-800 border-b"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="female"
                    name="gender"
                    type="radio"
                    value="FEMALE"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="female"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Female
                </label>
              </div>
            </li>

            <!-- Other -->
            <li
              class="inline-flex items-center py-3 px-4 text-sm font-medium bg-white text-gray-800 border-b sm:border-b-0 sm:border-r"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="other"
                    name="gender"
                    type="radio"
                    value="OTHER"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="other"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Other
                </label>
              </div>
            </li>

            <!-- Unspecified -->
            <li
              class="inline-flex items-center py-3 px-4 text-sm font-medium bg-white text-gray-800"
            >
              <div class="relative flex items-start w-full">
                <div class="flex items-center h-5">
                  <input
                    id="unspecified"
                    name="gender"
                    type="radio"
                    value="UNSPECIFIED"
                    formControlName="gender"
                    class="border-gray-200 rounded-full"
                  />
                </div>
                <label
                  for="unspecified"
                  class="ms-3 block w-full text-sm text-gray-600"
                >
                  Unspecified
                </label>
              </div>
            </li>
          </ul>

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              information.controls.gender.touched &&
              information.controls.gender.hasError('required')
                ? '* Please make a selection'
                : '&nbsp;'
            "
          ></span>
        </div>

        <!-- Section 2: Bio -->
        <!-- <div class="col-span-2">
          <div class="col-span-4">
            <label class="block text-sm font-medium text-gray-700">
              Tell us about yourself
            </label>
            <textarea
              formControlName="bio"
              rows="4"
              class="mt-1 block w-full px-3 py-2 border border-gray-200 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
              placeholder="Write a short bio..."
            ></textarea>
          </div>
        </div> -->
      </div>
    </div>

    <!-- Save Button -->
    <!-- [disabled]="form.invalid" -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
      >
        Save Changes
      </button>
    </div>
  </form>

  <form
    class="space-y-2 my-8"
    [formGroup]="security"
    (ngSubmit)="onSecurityInfoSubmit()"
  >
    <!-- Section 2: Password Management -->
    <div>
      <h2 class="text-lg font-semibold">Password Management</h2>
      <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Choose Password
          </label>
          <input
            autocomplete="off"
            class="w-full"
            placeholder="********"
            formControlName="password"
            type="password"
          />

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              security.controls.password.value &&
              security.controls.password.hasError('passwordMismatch')
                ? '* Passwords don\'t match'
                : '&nbsp;'
            "
          ></span>
        </div>

        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">
            Confirm Password
          </label>
          <input
            autocomplete="off"
            class="w-full"
            placeholder="********"
            formControlName="confirmed"
            type="password"
          />

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              security.controls.confirmed.value &&
              security.controls.confirmed.hasError('passwordMismatch')
                ? '* Passwords don\'t match'
                : '&nbsp;'
            "
          ></span>
        </div>
      </div>
    </div>

    <!-- [disabled]="form.invalid" -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
        [disabled]="security.invalid"
      >
        Save Changes
      </button>
    </div>
  </form>

  <form
    class="space-y-2 my-8"
    [formGroup]="academics"
    (ngSubmit)="onAcademicInfoSubmit()"
  >
    <!-- Section 3: Education Info -->
    <div>
      <div class="my-2" *ngIf="!hasScopeSet">
        <p
          class="bg-blue-100 text-blue-600 text-sm strong px-6 py-4 rounded-md"
          *ngIf="institutions.length === 1"
        >
          Please confirm your campus
        </p>
        <p
          class="bg-yellow-100 text-yellow-600 text-sm strong px-6 py-4 rounded-md"
          *ngIf="institutions.length > 1"
        >
          We have found more than one college associated with your email. Please
          select your campus. This will determine where your textbooks will be
          published.
        </p>
      </div>

      <h2 class="text-lg font-semibold">Education Info</h2>
      <div class="col-span-1">
        <label class="block text-sm font-medium text-gray-700">
          College Campus
        </label>
        <select class="select bg-white w-full" formControlName="institutionId">
          <option
            *ngFor="let institution of institutions"
            [value]="institution.institutionId"
          >
            {{ institution.locationName }}
          </option>
        </select>
        <span
          class="text-xs text-red-500"
          [innerHTML]="
            academics.controls.institutionId.invalid &&
            academics.controls.institutionId.touched &&
            academics.controls.institutionId.errors?.['required']
              ? '* Select your campus'
              : '&nbsp;'
          "
        ></span>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">Major</label>
          <select class="select bg-white w-full" formControlName="majorId">
            <option
              *ngFor="let program of academicProgramsList"
              [disabled]="!program.academicProgramId"
              [value]="program.academicProgramId"
            >
              {{ program.name }}
            </option>
          </select>

          <span
            class="text-xs text-red-500"
            [innerHTML]="
              academics.controls.majorId.invalid &&
              academics.controls.majorId.touched &&
              academics.controls.majorId.errors?.['required']
                ? '* Select your major'
                : '&nbsp;'
            "
          ></span>
        </div>

        <div class="col-span-2 sm:col-span-1">
          <label class="block text-sm font-medium text-gray-700">Minor</label>
          <select class="select bg-white w-full" formControlName="minorId">
            <option
              *ngFor="let program of academicProgramsList"
              [disabled]="!program.academicProgramId"
              [value]="program.academicProgramId"
            >
              {{ program.name }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <!-- [disabled]="form.invalid" -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600"
        [disabled]="academics.invalid"
      >
        Save Changes
      </button>
    </div>
  </form>
</div>
