<div class="strength">
    <span class="rank" [ngClass]="{ highlight: result.percent > 0 && result.percent <= 20 }"></span>
    <span class="rank" [ngClass]="{ highlight: result.percent > 20 && result.percent <= 40 }"></span>
    <span class="rank" [ngClass]="{ highlight: result.percent > 40 && result.percent <= 60 }"></span>
    <span class="rank" [ngClass]="{ highlight: result.percent > 60 && result.percent <= 80 }"></span>
    <span class="rank" [ngClass]="{ highlight:  result.percent > 80 }"></span>
</div>