<ul class="requirements">
    <li class="requirement">
        <span class="status" [class.error]="!oneLowerCase" [class.good]="oneLowerCase"></span>
        <span class="desc">contains at least one lower case character</span>
    </li>
    <li class="requirement">
        <span class="status" [class.error]="!oneUpperCase" [class.good]="oneUpperCase"></span>
        <span class="desc">contains at least one upper case character</span>
    </li>
    <li class="requirement">
        <span class="status" [class.error]="!oneDigitChar" [class.good]="oneDigitChar"></span>
        <span class="desc">contains at least one digit character</span>
    </li>
    <li class="requirement">
        <span class="status" [class.error]="!oneSpecialChar" [class.good]="oneSpecialChar"></span>
        <span class="desc">contains at least one special character</span>
    </li>
    <li class="requirement">
        <span class="status" [class.error]="!minEightChars" [class.good]="minEightChars"></span>
        <span class="desc">contains at least 8 characters</span>
    </li>
</ul>