<!-- <owl-carousel-o class="w-120 h-[380px] relative inline-flex flex-col text-gray-700 bg-transparent shadow-lg rounded-xl bg-clip-border" [options]="customOptions"> -->
    <div class="slide bg-white">
        <div class="w-120 p-16">
            <h4 class="h4">Password Recovery</h4>
            <p class="text">Enter your email address to recover your password.</p>
            <form class="mt-8 mb-2" [formGroup]="startPasswordRecoveryGroup" (ngSubmit)="handleStartRecovery()">
                <div class="flex flex-col gap-4 mb-1">
                    <h6 class="h6 -mb-4">Email</h6>
                    <div class="relative">
                        <input class="w-full" type="text" placeholder="john.smith@cougars.csusm.edu" formControlName="email" required />
                    </div>
                </div>
                <button
                    class="relative mt-6 w-full select-none bg-pink-500 font-bold text-white"
                    type="submit"
                    [disabled]="startPasswordRecoveryGroup.invalid">
                    Recover Password
                
                    <status-spinner *ngIf="resetPasswordRequest.sent && !resetPasswordRequest.done"></status-spinner>
                </button>
            </form>
        </div>
    </div>
    <div class="slide bg-white">
        <div class="w-120 p-16">
            <h4 class="h4">Get Your Code</h4>
            <p class="text">
                Please enter the <strong>6 digit</strong> code that send to your email. 
                <ng-template *ngIf="expiresInSeconds">Code will expore in <strong>{{ expiresInSeconds }}s</strong></ng-template>
            </p>
        
            <form class="mt-8 mb-2" [formGroup]="verifyRequestTokenGroup" (ngSubmit)="handleVerifyRequestCode()">
                <div class="flex flex-col gap-4 mb-1">
                    <!-- <h6 class="h6 -mb-4">Email</h6> -->
                    <div class="relative">
                        <input class="w-full text-lg tracking-widest-5xl !font-bold" type="text" formControlName="token"/>
                    </div>
                </div>
        
                <p class="block mt-4 font-sans text-base antialiased font-normal leading-relaxed text-center text-gray-700">
                    Didn't receieve a code?
                    <a class="a font-medium" (click)="handleResendRecoveryCode()">
                        Resend
                    </a>
                </p>
        
                <button class="mt-6 w-full select-none bg-pink-500 font-bold text-white" 
                    type="submit" 
                    [disabled]="!expiresInSeconds || verifyRequestTokenGroup.invalid">

                    Verify & Continue

                    <status-spinner *ngIf="resetPasswordRequest.sent && !resetPasswordRequest.done"></status-spinner>
                </button>
            </form>
        </div>
    </div>
    <div class="slide bg-white">
        <div class="w-120 p-16">
            <h4 class="h4">Reset Password</h4>
            <p class="text">Choose a new password</p>
            <form class="mt-8 mb-2" [formGroup]="changePasswordGroup" (ngSubmit)="handleChangePassword()">
                <input type="hidden" formControlName="email">
                <input type="hidden" formControlName="token">
                <div class="flex flex-col gap-4 mb-1">
                    <h6 class="h6 -mb-4">Choose Password</h6>
                    <div class="relative">
                        <input class="w-full" type="password" placeholder="********" formControlName="password"/>
                    </div>
                
                    <h6 class="h6 -mb-4">Confirm Password</h6>
                    <div class="relative">
                        <input class="w-full" type="password" placeholder="********" formControlName="confirmed"/>
                    </div>
                </div>
            
                <button
                    class="mt-6 w-full select-none bg-pink-500 font-bold text-white"
                    type="submit"
                    [disabled]="changePasswordGroup.invalid">
                Change Password
                </button>
            </form>
        </div>
    </div>
<!-- </owl-carousel-o> -->