<form class="w-full max-w-md mx-auto p-4 bg-white">
  <div *ngFor="let category of categories" class="border-b">
    <!-- Category Title -->
    <div
      class="flex justify-between items-center py-4 cursor-pointer"
      (click)="onToggleCategory(category)"
    >
      <span class="font-semibold text-gray-800">{{ category.title }}</span>
      <button type="button" class="text-gray-500">
        <svg
          class="w-3 h-3 shrink-0 transition-transform duration-300"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
          [class.rotate-180]="!category.isOpen"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5 5 1 1 5"
          />
        </svg>
      </button>
    </div>

    <!-- Category Options -->
    <div
      class="overflow-hidden transition-max-height duration-300"
      [class.max-h-0]="!category.isOpen"
      [class.max-h-[999px]]="category.isOpen"
    >
      <div class="pl-4 pb-3">
        <div
          *ngFor="let option of category.options"
          class="flex items-center mb-1"
        >
          <label
            class="flex items-center w-full text-sm cursor-pointer px-2 py-1 my-0.5"
            [for]="option.id"
            [ngClass]="{
              'bg-gray-100': option.checked,
              'text-blue-500': option.checked,
              'text-gray-400': option.disabled
            }"
          >
            <input
              class="focus:ring-blue-500"
              [id]="option.id"
              [checked]="option.checked"
              [disabled]="option.disabled"
              [value]="option.value"
              [type]="category.type"
              [name]="category.name"
              (change)="onOptionChange(category, option)"
            />
            <span>{{ option.label }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</form>
